@font-face {
    font-family: "Bender-Light";
    src: url("BenderLight.eot");
    src: url("BenderLight.eot?#iefix") format("embedded-opentype"),
         url("BenderLight.woff2") format("woff2"),
         url("BenderLight.woff") format("woff"),
         url("BenderLight.ttf") format("ttf"),
         url("BenderLight.svg#Bender-Light") format("svg");
    font-style: normal;
    font-weight: 300;
}