@font-face {
    font-family: "Bender";
    src: url("BenderRegular.eot");
    src: url("BenderRegular.eot?#iefix") format("embedded-opentype"),
         url("BenderRegular.woff2") format("woff2"),
         url("BenderRegular.woff") format("woff"),
         url("BenderRegular.ttf") format("ttf"),
         url("BenderRegular.svg#Bender") format("svg");
    font-style: normal;
    font-weight: 300;
}