<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/header/header.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<title>Document</title>
</head>

<body>

<!--header-main-->
<header class="header-main">

	<!--header-top-->
	<div class="header-top">
		<div class="container">
			<div class="row">

				<div class="col-md-3">
					<div class="address">
						<strong class="address-title">Москва</strong>
						<a class="address-link" href="#">ул.Верейская. 29 стр. 35</a>
					</div>
				</div>

				<div class="col-md-6">
					<div class="logo">
						<img src="assets/i/logo.png" alt="logo">
					</div>
				</div>

				<div class="col-md-3">
					<div class="address right">
						<strong class="address-title">+7 (499) <span class="white">391-71-53</span></strong>
						<a class="address-link" href="#">Заказать обратный звонок</a>
					</div>
				</div>

			</div>
		</div>
	</div>

	<h1 class="main-title">Автосервис с безупречной репутацией</h1>

	<div class="buttons">
		<div class="container">
			<div class="row">
				<div class="col-md">
					<div class="buttons-wrap">
						<a href="#" class="btn photo">Оценить стоимость ремонта по фото</a>
						<a href="#" class="btn">Прайс</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</header>

<nav class="menu-bar">
	<div class="container">
		<div class="row">
			<div class="menu-bar-wrap">

				<ul class="menu-top">
					<li class="menu-top--item active">
						<a href="#" class="menu-top--link">Главная</a>
					</li>
					<li class="menu-top--item">
						<a href="#" class="menu-top--link">О нас</a>
					</li>
					<li class="menu-top--item">
						<a href="#" class="menu-top--link">Цены</a>
					</li>
					<li class="menu-top--item">
						<a href="#" class="menu-top--link">Наши работы</a>
					</li>
					<li class="menu-top--item">
						<a href="#" class="menu-top--link">Партнеры</a>
					</li>
					<li class="menu-top--item">
						<a href="#" class="menu-top--link">Контакты</a>
					</li>
				</ul>

				<div class="waranty ml-auto">
					<div class="w_left">
						<span class="big">1</span><span>Год</span>
					</div>
					<div class="w_right">Гарантия <br> на все работы</div>
				</div>
			</div>
		</div>
	</div>
</nav>
