
/* fonts
====================================================*/
@mixin opensans {
  font-family: "OpenSans", sans-serif;
}

@mixin opensansbold {
  font-family: "OpenSansBold", sans-serif;
}

@mixin roboto {
  font-family: "RobotoRegular", sans-serif;
}

@mixin robotobold {
  font-family: "RobotoBold", sans-serif;
}
