//grid
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//text colors
$white: #fff;
$text-accent: #b43327;
$text-link: #ef5f31;
$text-color: #0d0d0d;
$text-regular: #242424;

//bg colors
$accent: #b43327;
$main-color: #2e2e2e;
$main-color-light: #383838;
$main-color-dark: #191919;
$bg-light: #d7d7d7;
$bg-super-light: #eaeaea;

//border
$border-color: #d3d7e5;


