@import "../../../bourbon/bourbon";

@include font-face("RobotoRegular", "/assets/fonts/RobotoRegular");
@include font-face("RobotoBold", "/assets/fonts/RobotoBold");
@include font-face("BebasRegular", "/assets/fonts/BebasRegular");
@include font-face("RobotoCondensed", "/assets/fonts/RobotoCondensedRegular");

@import "partials/variables";
@import "partials/mixins";
@import "partials/templates";
@import "../../../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../../../node_modules/bootstrap/scss/bootstrap-grid";
@import "partials/icons";

html,
body {
  font-size: 14px;
}

body {
  @include roboto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn {
  @include bebasregular;

  display: inline-block;
  vertical-align: top;
  padding: 0 25px;
  font-size: 20px;
  line-height: 50px;
  height: 50px;
  text-transform: uppercase;
  color: $white;
  background: $accent;
  border-bottom: 2px solid darken($accent, 10%);
  transition: all .6s ease;

  &.photo {
    margin-right: 10px;
    width: 214px;
    line-height: 1;
    padding-top: 6px;
    padding-left: 56px;
  }

  &:hover {
    text-decoration: none;
    color: $white;
    background: lighten($accent, 10%);
  }

  &:active {
    background: darken($accent, 10%);
  }

  &.btn--center {
    display: table;
    margin: 0 auto;
  }
}

/* text-color
====================================================*/
.text-white {
  color: $white;
}

.text-red {
  color: red;
}

/*================== section-dark ===========================*/
.dark {
  padding: 70px 0 40px;
  @include bebasregular;
  color: $white;
  background: $main-color-dark;

  .section-title {
    position: relative;
    display: table;
    margin: 0 auto;
    font-size: 40px;
    color: #c9c9c9;
    //text-align: center;
    text-transform: uppercase;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 25%;
      width: 50px;
      height: 22px;
      background-image: url("../i/title-arrows.png");
      background-repeat: no-repeat;
    }

    &::before {
      left: -68px;
    }

    &::after {
      right: -68px;
      background-position: -50px 0;
    }
  }
}

.categories {
  position: relative;
  margin-bottom: 170px;

  .col-2:nth-child(2) {
    .categories__item {
      .bg-img-wrap {
        .bg-img {
          width: 94px;
          height: 78px;
          background-position: 10px -80px;
        }
      }
    }
  }

  .col-2:nth-child(3) {
    .categories__item {
      .bg-img-wrap {
        .bg-img {
          width: 105px;
          height: 36px;
          background-position: 0px -172px;
        }
      }
    }
  }

  .col-2:nth-child(4) {
    .categories__item {
      .bg-img-wrap {
        .bg-img {
          width: 68px;
          height: 62px;
          background-position: -110px -71px;
        }
      }
    }
  }

  .col-2:nth-child(5) {
    .categories__item {
      .bg-img-wrap {
        .bg-img {
          width: 60px;
          height: 62px;
          background-position: -209px 0;
        }
      }
    }
  }

  .col-2:nth-child(6) {
    .categories__item {
      .bg-img-wrap {
        .bg-img {
          width: 82px;
          height: 54px;
          background-position: -109px 0;
        }
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 166px;
    text-align: center;
    background: $main-color-dark;
    border: 1px solid $main-color-light;
    transition: background .5s ease;

    &:hover,
    &.active{
      background: $main-color;
    }
  }

  .bg-img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    height: 100%;
  }
  .bg-img {
    width: 92px;
    height: 62px;
    background-image: url("../../assets/i/sprite.png");
    background-position: 0 0;
  }

  &__link {
    font-size: 20px;
    text-decoration: underline;
    text-transform: uppercase;
    color: $white;

    &:hover{
      text-decoration: none;
      color: inherit;
    }

    &-arrow {
      display: block;
      height: 26px;
      background: $main-color-light;
      transition: background .5s ease;

      &:hover {
        background: $main-color;
        cursor: pointer;
      }

      .arrow-icon {
        @include inline-block;
        width: 14px;
        height: 10px;
        background-image: url("../i/sprite.png");
        background-position: -132px -223px;
        &:hover {
          background-position: -164px -223px;
        }
      }
    }
  }

  .blocks {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
  }

  .block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    padding: 30px;
    background: $main-color;
    border-radius: 6px;
  }

  .inner-list {
    padding: 0;
    margin: 0;
    text-align: center;

    &--item {
      @include inline-block;

      padding: 0 5px;
    }

    &--link {
      display: block;
      color: $white;
      font-size: 20px;
      text-decoration: underline;
    }
  }
}

.light {
  .section-header {
    padding: 40px;
    color: $text-color;
    background: $bg-super-light;

    .section-title {
      position: relative;
      display: table;
      margin: 0 auto;
      font-size: 40px;
      text-transform: uppercase;
    }

    .section-text {
      margin: 0 auto;
      max-width:  780px;
      text-align: center;
      font-size: 16px;
    }
  }

  .gallery {
    padding:  45px 0 60px;
    background: $bg-light;

    &--item {
      margin-bottom: 60px;

      &-text {
        padding-top: 20px;
        @include robotobold;
        text-align: center;
      }
    }
    
    .img-wrap {
      border-top:  8px solid $accent;
      opacity: .8;
      transition: all .6s ease;

      &:hover {
        opacity: 1;
        box-shadow: 0 10px 20px 0 rgba(0,0,0,.4);
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

/*================== bottom ===========================*/
.bottom {
  &-header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    width: 100%;
  }
  
  .bottom-title {
    font-size: 30px;
    text-transform: uppercase;
  }
}

/*================== footer ===========================*/
.footer-main {
  padding: 30px 0;
  @inculde bebasregular;
  font-size: 20px;
  text-transform: uppercase;
  color: $white;
  background: #2a2a2a;
  .footer-inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .menu {
    li {
      display: inline-block;
      vertical-align: top;
    }
    a{
      padding: 0 10px;
      text-decoration: underline;
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

